#header{
    .nav-menu{
        li{
            a{
                text-decoration: none;
            }
        }
    }
}

#main{
    overflow: hidden;
    ul{
       li{
           list-style: none;
           margin-left: -30px;
       } 
    }

    .hero-text{
        align-items: center;
        padding-bottom: 30px;
        @media screen and (min-width : 1024px){
            margin-bottom: 0;
        }
    }
    .hero-image{
        width: 100%;
        height: 100%;
        transform: translateX(20%);

    }

    .hero-image-2{
        width: 85%;
        transform: translateX(5%);
        justify-items: center;
        @media screen and (max-width: 1024px) {
            order: 1;
        }
        
    }

    .hero2-text{
        @media screen and (max-width: 1024px) {
            order: 2;
        }
    }

    #herotwo{
        h5{
            text-align: justify;
        }
        p{
           text-align: justify; 
        }
    }

    .whyus-card{
        padding: 20px;
        border-radius: 8px;
        .logo-whyus{
            margin-bottom: 15px;
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1024px) {
            height: 100%;
        }
    }

    .review-card{
        width: 619px;
        height: 270px;
        border: 2px;
        border-color: gray;
    }

    .lokasi-card{
        background-color: darkblue;
        border-radius: 13px;
        width: 100%;
        height: 326px;
    }

    .card-testi{
        position: relative;
        border-radius: 8px;
        width: 619px;
        .card-testi-profil{
            
        }
    }

    .faq-card{
        .card-body{
            margin-top: 0px;
            margin-bottom: 40px;
            border: none;
        }
    }

    .dropdown-pertanyaan{
        .dropdown--pertanyaan{
            width: 100%;
            height: 56px;
            margin-bottom: 15px;
            text-align: start;
            padding-left: 20px;
            

        }
    }
}

#footer{
    .link-footer{
        text-decoration: none;
        color: black;
        font-weight: bold;
        
    }
    .nav-footer{
        list-style: none;
        li{
            padding-bottom: 5%;
        }
    }

    .alamat{
        padding-left: 0px;
        padding-right: 5px;
        text-align: start;
    }

    .socmed{
        img{
            padding-right: 3%;
            padding-bottom: 5%;
        }
    }   
    
}

